<header>
    <div class="nav-bar">
        <div class="title-box">
            <strong class="title">Outreach Hub</strong>
        </div>
        <div class="menu-list">
            <a class="menu-item" [class.active]="activeTab === 'home'" (click)="setActive('home')">
                Home
            </a>
            <a class="menu-item" [class.active]="activeTab === 'contacts'" [routerLink]="['/contacts']" (click)="setActive('contacts')">
                Contacts
            </a>
            <a class="menu-item" [class.active]="activeTab === 'campaign'" (click)="setActive('campaign')">
                Campaigns
            </a>
            <a class="menu-item" [class.active]="activeTab === 'message'" [routerLink]="['/messages']" (click)="setActive('message')" >
                Message
            </a>
        </div>
        <a class="signout" (click)="logout()">Sign-out</a>
    </div>
</header>
<router-outlet></router-outlet>