<app-menu-bar></app-menu-bar>
<div *ngIf="contact" class="mainBox">
    <div class="title-box">
        <h1 class="title">{{contact.name | uppercase}}</h1>
    </div>
    <div class="detail-box">
        <p class="detail _id">Contact Id: {{contact._id}}</p>
        <p class="detail phoneNumber">Contact Number: {{contact.phoneNumber}}</p>
        <p class="detail tags">Tags: <span *ngFor="let tag of contact.tags" class="badge">{{tag}}</span></p>
        <p class="detail workspaceId">Belongs to Workspace Id: {{contact.workspaceId._id}}</p>
        <p class="detail Created By">Created By: {{contact.createdBy.email}}</p>
    </div>
    <div class="action-box">
        <button type="button" class="edit" (click)="redirectToEdit()">Edit</button>
        <button type="button" class="delete" (click)="deleteContact(contact._id)">Delete</button>
        <button type="button" class="back" (click)="goBack()" >Back</button>
    </div>
</div>
