<form [formGroup]="contactForm">

    <div class="card flex justify-content-center">
        <p-floatLabel>
            <input pInputText id="name" formControlName="name" />
            <label for="name">Name</label>
        </p-floatLabel>

        <div class="validation-wrapper">
            <small class="validation-message" *ngIf="name?.invalid && name?.touched">
                <span *ngIf="contactForm.get('name')?.touched && contactForm.get('name')?.errors?.['required']">
                    Name is required
                </span>
            </small>
        </div>
    </div>

    <div class="card flex justify-content-center">
        <p-floatLabel>
            <input pInputText id="phoneNumber" formControlName="phoneNumber" />
            <label for="phoneNumber">Contact Number</label>
        </p-floatLabel>

        <div class="validation-wrapper">
            <small class="validation-message" *ngIf="phoneNumber?.invalid && phoneNumber?.touched">
                <span *ngIf="phoneNumber?.errors?.['required']">Phone number is required.</span>
                <span *ngIf="phoneNumber?.errors?.['pattern']">Phone number must contain only digits.</span>
                <span *ngIf="phoneNumber?.errors?.['minlength']">Phone number must be at least 10 digits.</span>
            </small>
        </div>
    </div>

    <div class="card flex justify-content-center">
        <p-floatLabel>
            <input pInputText id="tags" formControlName="tags" />
            <label for="tags">Tags</label>
        </p-floatLabel>

        <div class="validation-wrapper">
            <small class="validation-message" *ngIf="tags?.invalid && tags?.touched">
                <span *ngIf="phoneNumber?.errors?.['required']">Tags is required.</span>
            </small>
        </div>
    </div>

    <button type="submit" [disabled]="contactForm.invalid">
        {{ contact ? 'Edit' : 'Add' }}
    </button>
    <button type="button" (click)="goBack()">Back</button>
</form>