<app-menu-bar></app-menu-bar>
<app-welcome-message></app-welcome-message>
<div class="dashboard-charts">
    <div class="title-box">
        <h1 class="title">Analytics</h1>
    </div>
    <div class="graph-box">
        <div class="date-filters">
            <label>
                From:
                <input type="date" [(ngModel)]="startDate" (change)="loadCharts()">
            </label>
            <label>
                To:
                <input type="date" [(ngModel)]="endDate" (change)="loadCharts()">
            </label>
        </div>
        <app-dashboard-graphs [title]="'Campaigns per Day'" [chartData]="campaignsPerDay">
        </app-dashboard-graphs>

        <!-- <app-dashboard-graphs [title]="'Messages Sent per Type per Day'" [chartData]="messagesPerTypePerDay">
    </app-dashboard-graphs>

    <app-dashboard-graphs [title]="'Contacts Reached per Day'" [chartData]="contactsReachedPerDay">
    </app-dashboard-graphs> -->
    </div>
</div>