<td class="row-item name">{{contact.name}}</td>
<td class="row-item phoneNumber">{{contact.phoneNumber}}</td>
<td class="row-item tags"><span *ngFor="let tag of contact.tags" class="badge">{{tag}}</span></td>
<td class="row-item buttons">
    <button class="editBtn" [routerLink]="['edit', contact._id]" *ngIf="userRole === 'editor'">Edit</button>
    <button class="deleteBtn" (click)="deleteContact(contact._id)" *ngIf="userRole === 'editor'">Delete</button>
    <button class="ViewBtn" [routerLink]="['/contacts', contact._id]">View</button>
</td>