<app-menu-bar></app-menu-bar>
<div class="mainBox">
    <div class="title-box">
        <h1 class="title">Contacts</h1>
    </div>

    <div class="search-add-box">
        <input type="text" placeholder="Search Contact">
        <button type="button" class="search">Search</button>
        <button type="button" class="add" [routerLink]="['/contacts/add']" *ngIf="userRole === 'editor'">Add
            Contact</button>
    </div>

    <!-- Table + Pagination Wrapper -->
    <div class="table-box">
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Contact</th>
                        <th>Tags</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr app-contact *ngFor="let contact of contacts" [contact]="contact"></tr>
                </tbody>
            </table>

            <!-- Pagination buttons -->
            <div class="pagination-box">
                <button>Previous</button>
                <span>Page {{1}} of {{10}}</span>
                <button>Next</button>
            </div>
        </div>
    </div>
</div>